@import "colors";
@import "type";
@import "nav";
@import "aboutBox";
@import "grid";
@import "projects";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: $cBlack;
    background-image: url(../images/background.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-y: auto;
    overflow-x: hidden;
}

/* .container {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;

    scroll-snap-type: y proximity;

    @media (min-width: 768px) {
        height: 100vh;
        scroll-snap-type: y mandatory;
    }
}

.aboutInfo,
.aboutClients,
.aboutContact,
.aboutVita,
.project,
.section,
main {
    scroll-snap-align: start;
} */

header {
    width: 100%;
    height: 100vh;
    padding: 5rem 5rem 5rem 5rem;

    position: relative;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        @include font($fXanh, $fHeadline, 200, normal, $cWhite);

        border-radius: 1rem;
        background: linear-gradient(90deg, $cYellow, transparent 40% 60%, $cYellow);
        background-size: 100% 0.2rem;
        background-repeat: no-repeat;
        background-position: bottom;

        // border-bottom: solid 0.2rem $cYellow;
        margin: 0 0 1rem 0;
        padding: 0 0.5rem;
    }

    p {
        @include font($fFrau, $fRegular, 200, normal, $cWhite);
    }
}

main {
    height: auto;
    @media (min-width: 768px) {
        height: auto;
    }
}

section {
    width: 100%;
    min-height: 100vh;
    border: solid 1px $cBlack;
    border-bottom: none;
    backdrop-filter: blur(2rem);
    margin: 0 0 25vh 0;
}

section:last-of-type {
    border-bottom: solid 1px $cBlack;
}

.aboutInfo {
    min-height: calc(100vh - 30rem);
    width: 100%;
    padding: 5rem 5rem 5rem 5rem;
    overflow-y: auto;

    border-right: solid 1px $cBlack;


    h2 {
        @include font($fXanh, $fHeadline, 200, normal, $cBlack);
        margin-bottom: 5rem;
    }

    h3 {
        @include font($fXanh, $fRegular, 200, normal, $cBlack);
    }

    p {
        @include font($fFrau, $fRegular, 200, normal, $cBlack);

        :hover {
            background-size: 100% 100%;
        }
    }

    @media (min-width: 768px) {
        height: 100vh;
    }
}

.aboutVita {
    @include aboutBox($cDarkBeige);

}

.aboutClients {
    @include aboutBox($cDarkBeige);
}

.aboutContact {
    @include aboutBox($cDarkBeige);
}
